{% load static %}
<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}LendingStore{% endblock %}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="{% static 'shop/css/custom.css' %}">
</head>
<body class="vi-body">
  {% include "shop/includes/header.html" %}
  {% block content %}{% endblock %}
  {% include "shop/includes/footer.html" %}
  <script src="{% static 'shop/js/main.js' %}"></script>
</body>
</html>
